/HelloWeb/nbproject/private/
/HelloWeb/build/
/DataStructuresPart1/nbproject/private/
/DataStructuresPart1/build/
/Average/nbproject/private/
/Average/build/
/DatastructurePart1/JavaLibrary2/nbproject/private/
/DatastructurePart1/Mode/nbproject/private/
/DatastructurePart1/Mode/build/
/DatastructurePart1/Average/nbproject/private/
/DatastructurePart1/Average/build/