/HelloWeb/nbproject/private/
/HelloWeb/build/
/DataStructuresPart1/nbproject/private/
/DataStructuresPart1/build/
/Average/nbproject/private/
/Average/build/
/DatastructurePart1/JavaLibrary2/nbproject/private/
/DatastructurePart1/Mode/nbproject/private/
/DatastructurePart1/Mode/build/
/DatastructurePart1/Average/nbproject/private/
/DatastructurePart1/Average/build/
/DatastructurePart1/BackboneHelloWorld/nbproject/private/
/DatastructurePart1/AngularJSPhoneCat/nbproject/private/
/DatastructurePart1/SortingAlgorithms/nbproject/private/
/DatastructurePart1/SortingAlgorithms/build/
/DatastructurePart1/TheStack/nbproject/private/
/DatastructurePart1/TheStack/build/
/DatastructurePart1/Queues/nbproject/private/
/DatastructurePart1/Queues/build/
/DatastructurePart1/AtheniumExercise/nbproject/private/
/DatastructurePart1/AtheniumExercise/build/